.popup {
  font-family: Inter, Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  justify-content: center;
  align-items: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility .6s, opacity .6s linear;
  cursor: pointer;
}
